<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="shortcut icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{description}}</p>
            <form action="">
                <input placeholder="Enter Location">
                <button>Search!</button>
            </form>
            <p id="message_1"></p>
            <table id="weatherTable">
                <tr>
                    <th>Temperature</th>
                    <th>Feels Like</th>
                    <th>Location</th>
                    <th>Timezone</th>
                    <th>Local Time</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Day or Night</th>
                </tr>
                <tr>
                    <td id="message_2"></td>
                    <td id="message_3"></td>
                    <td id="message_4"></td>
                    <td id="message_5"></td>
                    <td id="message_6"></td>
                    <td id="message_7"></td>
                    <td id="message_8"></td>
                    <td id="message_9"></td>
                </tr>
            </table>
            {{!-- <p id="message_2"></p>
            <p id="message_3"></p>
            <p id="message_4"></p>
            <p id="message_5"></p>
            <p id="message_6"></p>
            <p id="message_7"></p>
            <p id="message_8"></p> --}}
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>