body {
    background: black;
    color: white;
    font-family: arial;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

.portrait {
    width: 250px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

footer a {
    text-decoration: none;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: orange;
    color: white;
    padding: 8px;
}

#weatherTable {
    display: none;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 650px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#weatherTable tr th {
    background-color: red;
    color: #ffffff;
    text-align: left;
}

#weatherTable tr td {
    background-color: white;
    color: black;
    text-align: left;
}

#weatherTable th,
#weatherTable td {
    padding: 12px 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
@media only screen and (max-width: 600px) {
    /* For tablets: */
    #weatherTable {
        max-width: 325px;
    }
    .main-content {
        max-width: 325px;
        margin: 0 10%;
        padding: 0;
    }
    body {
        min-height: 80vh;
    }
    footer {
        margin-bottom: 10%;
    }
}